/* Global Properties */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This gets rid of white space on the right side of the page */

body{
    overflow-x: hidden;
 }

/* css variables and properties */
 :root {
    --background-color1: honeydew;
    --background-color2: rgb(233, 233, 233) ;
 
}

/* Navbar styling */

.my-name{
    margin-right: 700px;
    padding-left: 25px;
    font-family: 'Monofett';
    font-size: 75px;

}

.title {
    font-family:'Bungee Hairline';
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items:center;
  
}

.navbar-menu1{
    padding-right: 25px;

}

.navbar-item{
    font-size: 20px;
}

/* About Me Section */

.me-card{
   
    display:flex;
   align-content: center;
   align-items: center;
   justify-content: center; 
   background-color:var(--background-color2);

}

.myphoto{
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center; 
    

} 

.card-title{
    padding-top: 40px;

    font-size: 20px;
}

.card-title-color{
    text-decoration: underline;
    color: black;
}


#about-me{
    font-weight: bolder;
}
#para-text{
    line-height: normal;
    font-size: large;
   }

/* Project Cards */




 .middle-section-color {
    /* display: flex;
    flex-direction: column-reverse;
    align-content: center; */
    background-color: var(--background-color1);

}  




.card-text{
    line-height: normal;
}
  .Project-1{
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      padding-top: 99px;
     
  }
  .hw1{
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
     background-color: var(--background-color1);
  }
  .hw2{
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
     
  }



/* Footer styling */

.navbar-brand-contact{
    text-align:center;
    text-decoration: none;
    color: black;
    font-size: 25px;
}


.container-fluid{
    background-color: var(--background-color2);
}


  .navbar{
    background-color: var(--background-color1);
 
}

#contact{
    background-color: var(--background-color2);
}

.navbar-text{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;

}

.nav-link{
    font-size: 20px;
}


  /* Media queries for responsiveness accross devices */




@media screen and (max-width: 280px){
    .myphoto{
        width: 30%;
    }
}


  @media screen and (max-width: 414px){
      .card-body{
          font-size: 10px;
        
         
      }
  }
  @media screen and (max-width: 414px){
      .card-text{
          font-size: 10px;
        
         
      }
  }
  @media screen and (max-width: 411px){
      .card-title{
          font-size: 10px;
        
         
      }
  }
  @media screen and (max-width: 411px){
      .navbar-item{
          font-size: 10px;
        
         
      }
  }
  @media screen and (max-width: 414px){
      #para-text{
          font-size: 10px;
        
         
      }
  }

  @media screen and (max-height: 600px){
    .my-name{
      font-size: 50px;
        
    }
}
  @media screen and (max-width: 375px){
    .my-name{
      font-size: 35px;
        
    }
}
  @media screen and (max-height: 600px){
    .title{
      font-size: 20px;
        
    }
}
  @media screen and (max-width: 375px){
    .title{
      font-size: 15px;
        
    }
}
  @media screen and (max-width: 540px){
    .title{
      font-size: 15px;
        
    }
}
@media screen and (max-width: 540px){
    .my-name{
      font-size: 35px;
        
    }
}


@media screen and (max-height: 1023px) {
    .navbar-menu1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        box-shadow: none;
        
    }

}

@media screen and (max-width: 320px){
    .navbar-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

